<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title Tag -->
      <% if (article.title) { %>
          <title><%=article.title%></title>
      <% } else { %>
        <title>INTROMECH</title>
      <%}%>
      <!-- Meta Description  -->
      <% if (article.description) { %>
        <meta name="description" content="<%=article.description%>">
      <% } else { %>
        <meta name="description" content="Intromech is a place where you can learn mechanical engineering by visualizing">
      <%}%>
      <!-- Meta Keywords -->
      <% if (article.keywords) { %>
        <meta name="keywords" content="<%=article.keywords%>">
      <% } else { %>
        <meta name="keywords" content="Mechanical Engineering, Intromech">
      <%}%>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165240549-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-165240549-2');
    </script>
    <script data-ad-client="ca-pub-4017104748148723" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> 
    <link rel="stylesheet" href="/style-min.css">
</head>
<body>
  <nav>
    <a href="/">Intromech</a>
  </nav>
    <%- content %>
    <footer>
        <p>&copy; INTROMECH</p>
    </footer>
</body>
</html>